<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Angular Reactive Form</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="displayFieldCss('name')">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name" />
              <!-- <div *ngIf="name && name.errors && (name.dirty || name.touched)" [ngClass]="'error'">
                <div *ngIf="name.errors.minlength">
                  Name must be at least 5 characters long.
                </div>
                <div *ngIf="name.errors.maxlength">
                  Name can be max 10 characters long.
                </div>
              </div> -->
              <app-field-error-display 
                [displayError]="isFieldValid('name')" 
                errorMsg="Min 5 Max 10">
              </app-field-error-display>

            </div>
            <div class="form-group" [ngClass]="displayFieldCss('email')">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email" />

              <!-- <div *ngIf="email && email.errors && (email.dirty || email.touched)" [ngClass]="'error'">
                <div *ngIf="email.invalid">
                 invalid email
                </div>
              </div> -->
              <app-field-error-display 
                [displayError]="isFieldValid('email')" 
                errorMsg="Please inform your email">
              </app-field-error-display>

            </div>
            <div class="form-group" [ngClass]="displayFieldCss('username')">
              <label>User Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
              />


              <div *ngIf="username && username.errors && (username.dirty || username.touched)" [ngClass]="'error'">
                <div *ngIf="username.errors.minlength" class="error-msg">
                  Name must be at least 5 characters long.
                </div>
                <div *ngIf="username.errors.maxlength" class="error-msg">
                  Name can be max 10 characters long.
                </div>
              </div>

            </div>
            <div class="form-group" [ngClass]="displayFieldCss('password')">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
              <span
                *ngIf="
                  password &&
                  password.invalid &&
                  (password.dirty || password.touched)
                "class="error-msg"
                >Invalid</span
              >
            </div>
            <div class="form-group" [ngClass]="displayFieldCss('confirmPassword')">
              <label>Confirm Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
              />
              <span
              class="error-msg"
                *ngIf="
                  confirmPassword &&
                  confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched)
                "
                >Invalid</span
              >
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success"  [disabled]="!registerForm.valid">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
